#container { 
    margin: 0 15%;
    height: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    padding: 30px;
    text-decoration: underline;
}

td {
    padding: 35px;
    float: right;
    display: inline;
    line-height: 100px;
}

td span {
    padding: 30px;
}

td img {
    border: 1px solid black;
    height: 100px;
    width: 150px;
}