// Top header
h1 {
    //font-family: 'Cinzel Decorative', cursive;
    //font-weight: bold;
    //font-size: 3em;
    //padding: 30px;
    //text-decoration: underline;
    margin: 35px;
    color: rgba(255, 255, 255, 0.298039);
    text-shadow: rgba(255, 255, 255, 0.498039) 0px 0px 15px, rgba(255, 255, 255, 0.498039) 0px 0px 10px;
}